<div id="main">
    <div class="container">
        <div class="main">
            <div class="box1">
                <div class="box11">
                    <h1><span>Music</span> for everyone.</h1>
                </div>
                <div class="box12">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam maxime reprehenderit dolorem fugiat, expedita quibusdam incidunt mollitia voluptates sapiente ea rerum voluptatibus dicta praesentium explicabo corrupti ab autem dolores eum illum esse cum minus! Quidem voluptatum itaque magni, consequatur error animi id vero?</p>
                </div>
                <div class="box13">
                    <button class="btn1">Download App Now</button>
                    <button class="btn2">Start 30 Days Free Trial</button>
                </div>
            </div>
            <div class="box2">
                <img src="music.png" alt="music">
            </div>
        </div>
    </div>
</div>
